Repository ZloyEgor/DevOps, pull requests merged in 2025-03, with the labels that each got.

#6 feature: create next app
  frontend/.gitignore
  frontend/.nvmrc
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package.json
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.module.css
  frontend/src/app/page.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#20 #19: added dockerfile and docker-compose for backend simple local run
  backend/Dockerfile
  backend/docker-compose.yaml
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/CatalogController.java
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/ClientController.java
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/OrderingController.java
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/ProductController.java
Labels: backend, infra

#24 #21: api iniital version
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/OrderController.java
  backend/src/main/java/ru/itmo/cvetochey/dto/ClientCreateDto.java
  backend/src/main/java/ru/itmo/cvetochey/dto/ClientDto.java
  backend/src/main/java/ru/itmo/cvetochey/model/Catalog.java
  backend/src/main/java/ru/itmo/cvetochey/model/CatalogType.java
  backend/src/main/java/ru/itmo/cvetochey/model/Client.java
  backend/src/main/java/ru/itmo/cvetochey/model/Order.java
  backend/src/main/java/ru/itmo/cvetochey/model/Product.java
  backend/src/main/java/ru/itmo/cvetochey/model/UserRole.java
  backend/src/main/java/ru/itmo/cvetochey/repository/OrderRepository.java
  backend/src/main/java/ru/itmo/cvetochey/repository/OrderingRepository.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/db/scripts/2025-03-23-create-table-catalog.sql
  backend/src/main/resources/db/scripts/2025-03-23-create-table-client.sql
  backend/src/main/resources/db/scripts/2025-03-23-create-table-ordering.sql
  backend/src/main/resources/db/scripts/2025-03-23-create-table-product-catalog.sql
  backend/src/main/resources/db/scripts/2025-03-23-create-table-product.sql
  backend/src/main/resources/db/scripts/2025-03-29--01-filling-test-data.sql
  backend/src/main/resources/db/scripts/2025-03-29-add-column-catalog-type-to-catalog-table.sql
  backend/src/main/resources/db/scripts/2025-03-29-add-column-user-role-to-client.sql
  backend/src/main/resources/db/scripts/2025-03-29-create-tуpe-catalog-type.sql
  backend/src/main/resources/db/scripts/2025-03-30-create-type-user-role.sql
Labels: backend

#25 Feature/#21
  backend/pom.xml
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/CatalogController.java
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/ClientController.java
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/OrderController.java
  backend/src/main/java/ru/itmo/cvetochey/controller/impl/ProductController.java
  backend/src/main/java/ru/itmo/cvetochey/dto/CatalogDto.java
  backend/src/main/java/ru/itmo/cvetochey/dto/ClientCreateDto.java
  backend/src/main/java/ru/itmo/cvetochey/dto/ClientDto.java
  backend/src/main/java/ru/itmo/cvetochey/dto/OrderDto.java
  backend/src/main/java/ru/itmo/cvetochey/dto/ProductDto.java
  backend/src/main/java/ru/itmo/cvetochey/mapper/CatalogMapper.java
  backend/src/main/java/ru/itmo/cvetochey/mapper/ClientMapper.java
  backend/src/main/java/ru/itmo/cvetochey/mapper/OrderMapper.java
  backend/src/main/java/ru/itmo/cvetochey/mapper/ProductMapper.java
  backend/src/main/java/ru/itmo/cvetochey/model/CatalogType.java
  backend/src/main/resources/db/scripts/2025-03-29-add-column-user-role-to-client.sql
  backend/src/main/resources/db/scripts/2025-03-30-create-type-user-role.sql
Labels: backend
